<div class="container">
  <div class="row">
    <div class="col-6 d-flex align-items-center">
      <%= image_tag 'logo.svg' %>
    </div>
    <div class="col-6">
      <%= image_tag 'img_main.jpg',class:"img1" %>
    </div>
  </div>
  <div class="row mt-5 pt-5">
    <div class="col-7">
      <div class="card mx-auto p-0 shadow-lg">
        <iframe width="auto" height="380" src="https://www.youtube.com/embed/l1xUECl5MGs" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="col-5 d-flex align-items-center">
      <div>
        <h2>ハコニワリリィ『きっと仲直り』<br>
          【Music Video】
        </h2></br>
        <%= link_to "HaKoniwalily Channel", "https://www.youtube.com/channel/UCYRSuz5cmJeSNnGB7jedITg" %>
      </div>
    </div>
  </div>
  <div class="row mt-5 pt-5">
    <div class="col-7">
      <div class="card mx-auto p-0 shadow-lg">
        <iframe width="auto" height="380" src="https://www.youtube.com/embed/Hf1fvrRXK_U"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-5 d-flex align-items-center">
      <div>
        <h2>陽キャJKに憧れる陰キャJKの歌/<br>
          Hanon Ver.
        </h2></br>
        <%= link_to "Hanon Channel", "https://www.youtube.com/channel/UCJB1hgmiAD4ysg0Ao7uS8Rw" %>
      </div>
    </div>
  </div>

  <div class="row mt-5 pt-5">
    <div class="col-7">
      <div class="card mx-auto p-0 shadow-lg">
        <iframe width="auto" height="380" src="https://www.youtube.com/embed/VaG4At9-N-A"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-5 d-flex align-items-center">
      <div>
        <h2>陽キャJKに憧れる陰キャJKの歌/<br>
          Kotoha Ver.
        </h2></br>
        <%= link_to "Kotoha Channel", "https://www.youtube.com/channel/UC3ql_EU4JnaE3Rh3cqbHu6g" %>
      </div>
    </div>
  </div>
  <div class="row mt-5 pt-5">
    <div class="col-3 d-flex align-items-center">
      <div>
      <p>1st Single</p>
      <h2>コガネゾラ ~ハコリリ・アニメ盤~</h2>
      <h5>2021.09.01</h5>
      <h5>RELEASE</h5>
    </div>
    </div>
    <div class="col-6 text-center card mx-auto p-0 shadow-lg">
      <%= image_tag 'img_main.jpg',class:"img1" %>
    </div>
    <div class="col-3 d-flex align-items-center">
      <p>RELEASE ALL</p>
    </div>
  </div>

  <div class="row pt-5 mt-5">
    <h1>NEWS</h1>
  </div>

  <div class="row pt-5 mt-5">
    <h1>NEWS</h1>
    <div></div>
  </div>

</div>