<!DOCTYPE html>
<html>
  <head>
    <title>Training</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <div class="container">
    <header class="sticky-top">
      <div class="row justify-content-center mt-3">
        <a class="navbar-brand" href="/" data-turbolincks="false"><%= image_tag 'logo.svg', size: "300x90" %></a>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="globalMenuSp">
          <div class="row">
          <div class="col-5 pl-3 pr-0">
            <%= image_tag 'Hanon1.jpg', class: "img2" %>
          </div>
          <div class="col-2 p-0">
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="news">NEWS</a></li>
                <li><a href="/profile">PROFILE</a></li>
                <li><a href="/release">RELEASE</a></li>
            </ul>
            </div>
        <div class="col-5 p-0">
          <%= image_tag 'Kotoha1.jpg', class: "img2" %>
        </div>
      </div>
        </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-3 text3 d-flex align-items-center">
            <i class="fab fa-twitter font1"></i>
            <%= link_to 'HaKoniwalily', "https://twitter.com/HaKoniwalily", class: 'text-light ml-2' %>
            ・
            <%= link_to 'Hanon', "https://twitter.com/hanon_moco", class: 'text-light' %>
            ・
            <%= link_to 'Kotoha', "https://twitter.com/Kotoha_ktnh", class: 'text-light' %>
          </div>
          <div class="col-3 text3 d-flex align-items-center">
            <i class="fab fa-youtube font1"></i>
            <%= link_to 'HaKoniwalily', "https://www.youtube.com/channel/UCYRSuz5cmJeSNnGB7jedITg", class: 'text-light ml-2' %>
            ・
            <%= link_to 'Hanon', "https://www.youtube.com/channel/UCJB1hgmiAD4ysg0Ao7uS8Rw", class: 'text-light' %>
            ・
            <%= link_to 'Kotoha', "https://www.youtube.com/channel/UC3ql_EU4JnaE3Rh3cqbHu6g", class: 'text-light' %>
          </div>
          <div class="col-3 text3 d-flex align-items-center">
            <i class="fab fa-instagram font1"></i>
            <%= link_to 'Hanon', "https://www.instagram.com/hanon.moco/", class: 'text-light ml-2' %>
            ・
            <%= link_to 'Kotoha', "https://www.instagram.com/kotoha_ktnh/", class: 'text-light' %>
          </div>
        </div>
      </div>
    </footer>
    </div>
  </body>
</html>
