<!DOCTYPE html>
<html>
  <head>
    <title>Training</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="sticky-top">
      <div class="row mt-5">
        <div class="col-2">
      <a class="navbar-brand" href="/" data-turbolincks="false"><%= image_tag 'logo.svg', size: "250x60" %></a>
        </div>
        <div class="col-6"></div>
        <div class="col-4">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            menu
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-4">
              <%= link_to "TOP", "/", class: 'text-dark' %>
            </li>
            <li class="nav-item mr-4 text-dark">
              <%= link_to 'NEWS', "/news", class: 'text-dark' %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to 'PROFILE', "/profile", class: 'text-dark' %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to "RELEASE", "/releases", class: 'text-dark' %>
            </li>
            </ul>
          </div>
        </div>
      </nav>
      </div>
      </div>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-3 text3 d-flex align-items-center">
            <i class="fab fa-twitter font1"></i>
            <%= link_to 'HaKoniwalily', "https://twitter.com/HaKoniwalily", class: 'text-light ml-2' %>
            ・
            <%= link_to 'Hanon', "https://twitter.com/hanon_moco", class: 'text-light' %>
            ・
            <%= link_to 'Kotoha', "https://twitter.com/Kotoha_ktnh", class: 'text-light' %>
          </div>
          <div class="col-3 text3 d-flex align-items-center">
            <i class="fab fa-youtube font1"></i>
            <%= link_to 'HaKoniwalily', "https://www.youtube.com/channel/UCYRSuz5cmJeSNnGB7jedITg", class: 'text-light ml-2' %>
            ・
            <%= link_to 'Hanon', "https://www.youtube.com/channel/UCJB1hgmiAD4ysg0Ao7uS8Rw", class: 'text-light' %>
            ・
            <%= link_to 'Kotoha', "https://www.youtube.com/channel/UC3ql_EU4JnaE3Rh3cqbHu6g", class: 'text-light' %>
          </div>
          <div class="col-3 text3 d-flex align-items-center">
            <i class="fab fa-instagram font1"></i>
            <%= link_to 'Hanon', "https://www.instagram.com/hanon.moco/", class: 'text-light ml-2' %>
            ・
            <%= link_to 'Kotoha', "https://www.instagram.com/kotoha_ktnh/", class: 'text-light' %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
